certifi==2024.8.30
charset-normalizer==3.4.1
decorator==5.2.1
# https://ffmpeg.org/download.html
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
ipython
librosa==0.11.0
moviepy==2.1.2
numpy==2.2.6
omegaconf
pillow==10.4.0
proglog
pydub
Pygame
PyYAML
requests
soundfile
tqdm
urllib3
websocket-client
# ChatTTs for text to sound
# sudo dnf install python3-devel
ChatTTS==0.2.3
torchaudio==2.6.0
transformers==4.48.0
vector_quantize_pytorch==1.22.15
vocos==0.1.0
